<footer id="footer" class="footer-top-border mt-0 bg-color-light-scale-1">
  <div class="footer-copyright bg-color-light-scale-1 container">
      <div class="row footer-row">
        <div class="col-md-4 d-flex align-items-center justify-content-center copyright">
          <p><strong>ZENOS</strong> - © Copyright 2023 - All Rights Reserved.</p>
        </div>
        <div class="col-md-8 d-flex align-items-center justify-content-center contact">
          <p class="contact-info"><a href="tel:+387 62 268 198">+387 62 268 198</a> | <a href="mailto:info@zen-os.com" target="_blank">info@zen-os.com</a> | Zmaja od Bosne bb (Poslovna zona Zenica I), Zenica</p>
          <ul class="footer-social-icons social-icons social-icons-clean social-icons-icon-dark social-icons-big ms-3">
            <li class="social-icons-instagram"><a href="https://www.instagram.com/zenos.education/" target="_blank" title="Intagram"><i class="fab fa-instagram text-4"></i></a></li>
            <li class="social-icons-facebook"><a href="https://www.facebook.com/zenos.2019" target="_blank" title="Facebook"><i class="fab fa-facebook-f text-4"></i></a></li>
            <li class="social-icons-linkedin"><a href="https://www.linkedin.com/company/zen-os/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>