<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path('about.png') %>');">
about
</div>
<div class='container inline_flex'>
  <div class="text-center child">
    <p>
    Zenos je ideja koju su pokrenule dvije prijateljice – Ema i Ena, aktivno razmišljajući kako da povežu bogatstvo radne snage u Bosni i Hercegovini, i poslovne prilike koje se pružaju u svijetu. Globalizacija, tehnološki napredak i prije svega Internet, omogućio je aktivan rad zaposlenika iz bilo kojeg dijela svijeta, za kompaniju, u bilo kojem dijelu svijeta – ako, i samo ako, postoje znanja i vještine koje mogu biti primijenjene i iskorištene.

    Zenos se bavi jačanjem kapaciteta i omogućavanjem poslovnih prilika, s prvenstvenim fokusom na mlade ljude i žene, a potom i na sve ostale kategorije koje imaju želju za stjecanjem i osnaživanjem vještina i znanja. Osim toga, Zenos, pomaže i preduzećima da utemelje svoju stratešku poziciju, kroz jačanje ljudskog kapitala, analizu tržišnih prilika, praćenje trendova i razvoj društvene odgovornosti. Posebnu pažnju posvećujemo prehrambenom sektoru, fokusirajući se na promovisanje održive proizvodnje i konzumacije zdrave hrane.
    </p>
  </div>
  <div class='child'>
    Oblasti Zenos interesovanja:

- Ekonomsko osnaživanje

- Poduzetništvo

- Održiva proizvodnja i zdrava ishrana

- Društveno odgovorno poslovanje

- Inkluzija i raznolikost
  </div>
  <div class='child'>
  Zenos tim se sastoji od mladih i energičnih ljudi koji nose različite vještine i znanja, pa i različlito formalno obrazovanje – od ekonomskog, pravnog, prehrambenog inžinjerstva, informacionih tehnologija, stranih jezika itd.
  </div>
</div>