<div class="body">
	<div role="main" class="main">

		<section class="page-header page-header-modern bg-primary custom-page-header">

			<div class="custom-svg-style-1 svg-fill-color-primary position-absolute top-0 left-50pct transform3dx-n50 h-100 z-index-0">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 400" xml:space="preserve" preserveAspectRatio="none" width="100%" height="100%" data-plugin-float-element-svg="true">
					<circle id="svg_2" r="7.5" cy="539.5" cx="209.5" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
					<circle id="svg_3" r="12" cy="211" cx="268" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.4, 'transition': true, 'transitionDuration': 2000, 'isInsideSVG': true}"/>
					<circle id="svg_4" r="17" cy="144" cx="1864" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.6, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
					<circle id="svg_6" r="28.5" cy="326.74992" cx="327.75073" stroke-miterlimit="10" stroke-width="3" stroke="6CD499" fill="none"/>
					<circle opacity="0.2" stroke="#ffffff" id="svg_8" r="21.5" cy="340.25" cx="90.74976" fill="none" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
					<circle stroke="#ffffff" opacity="0.2" id="svg_9" r="14.625" cy="689.625" cx="128.87476" fill="none" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.5, 'transition': true, 'transitionDuration': 2000, 'isInsideSVG': true}"/>
				</svg>								
			</div>

			<div class="container position-relative z-index-1 mt-4 h-100">
				<div class="row h-100">
					<div class="col align-self-center">
						<div class="d-block">
							<span class="d-block custom-stroke-text-effect-1 custom-big-text-2 font-weight-bold opacity-2">About</span>
						</div>
						<div class="d-block">
							<h1 class="text-color-light font-weight-bold positive-ls-3 custom-big-text-1 line-height-1 mb-0">About</h1>
						</div>
					</div>
				</div>
			</div>

		</section>

		<div class="container py-5 my-4">
			<div class="row">
				<div class="col">

					<h2 class="font-weight-bold text-color-dark text-9 mb-4">Who We Are</h2>
					<p class="text-4-5 line-height-7">Zenos as an idea was developed by two friends - Ema and Ena, actively thinking about how to connect the wealth of the workforce in Bosnia and Herzegovina with the business opportunities available in the world. Globalization, technological progress and, above all, the Internet, enabled the active work of employees from any part of the world, for a company located in any part of the world - if, and only if, there are knowledge and skills that can be applied and used. Zenos is all about strengthening the capacity and enabling business opportunities, with a primary focus on young people and women, and then on all other categories that have a desire to acquire and improve skills and knowledge. In addition, Zenos helps companies to build up their strategic position, through strengthening of human capital, analysis of market opportunities, monitoring of trends and development of social responsibility. We pay special attention to supporting the food sector, focusing on advancing sustainable production and consumption of healthy food.</p>
					<div class="text-center">
						<div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark mb-0">
							<blockquote>
								<p class="mb-0 custom-font-1 fst-italic text-5 line-height-7">Pellentesque ultricies nibh gravida, accumsan libero luctus, molestie nunc. In nibh ipsum, blandit id faucibus accumsan libero luctus, molestie nunc. In nibh ipsum, blandit id faucibus.</p>
							</blockquote>
							<div class="testimonial-author">
								<p><strong class="font-weight-bold text-color-secondary">John Doe - CEO & Founder</strong></p>
							</div>
						</div>
						<img src="/assets/img/demos/digital-agency/signature.png" class="img-fluid my-4" alt="" />
					</div>

				</div>
			</div>
		</div>

		<section class="section bg-color-grey-scale-1 border-0 position-relative py-0 m-0">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6 p-0">
						<div class="h-100 m-0">
							<div class="row m-0">
								<div class="col-half-section col-half-section-right ms-auto py-5">
									<div class="px-3 py-5">
										<h2 class="font-weight-bold text-color-dark text-9 mb-4 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="200">We Are Different</h2>
										<p class="text-4-5 line-height-7 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="400">Zenos team consists of young and energetic people who have different skills and knowledge, as well as different formal education - from economics, law, food engineering, information technology, foreign languages, etc.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 p-0">
						<%= image_tag('team.jpg', class: 'parallax', data: { plugin: 'parallax', plugin_options: { speed: 1.5, parallaxHeight: '135%' } }, style: 'min-height: 285px; max-width: 100%; height: auto;', width: 970, height: 515) %>					
					</div>
				</div>
			</div>
		</section>

		<div class="container pb-5 mb-4">
			<div class="row">
				<div class="col">

					<h2 class="font-weight-bold text-color-dark text-7 mb-4">FAQ's</h2>

					<div class="accordion custom-accordion-style-1 mb-0" id="accordion1">
						<div class="card card-default">
							<div class="card-header" id="collapse1HeadingOne">
								<h4 class="card-title m-0">
									<a class="accordion-toggle text-color-dark font-weight-semibold collapsed" data-bs-toggle="collapse" data-bs-target="#collapse1One" aria-expanded="false" aria-controls="collapse1One">
										1 - Why Choose Zenos?
									</a>
								</h4>
							</div>
							<div id="collapse1One" class="collapse" aria-labelledby="collapse1HeadingOne" data-bs-parent="#accordion1">
								<div class="card-body">
									<p class="mb-0">Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
								</div>
							</div>
						</div>
						<div class="card card-default">
							<div class="card-header" id="collapse1HeadingTwo">
								<h4 class="card-title m-0">
									<a class="accordion-toggle text-color-dark font-weight-semibold collapsed" data-bs-toggle="collapse" data-bs-target="#collapse1Two" aria-expanded="false" aria-controls="collapse1Two">
										2 - Cras a elit sit amet leo accumsan?
									</a>
								</h4>
							</div>
							<div id="collapse1Two" class="collapse" aria-labelledby="collapse1HeadingTwo" data-bs-parent="#accordion1">
								<div class="card-body">
									<p class="mb-0">Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
								</div>
							</div>
						</div>
						<div class="card card-default">
							<div class="card-header" id="collapse1HeadingThree">
								<h4 class="card-title m-0">
									<a class="accordion-toggle text-color-dark font-weight-semibold collapsed" data-bs-toggle="collapse" data-bs-target="#collapse1Three" aria-expanded="false" aria-controls="collapse1Three">
										3 - Hel officitur felis ultricis nan?
									</a>
								</h4>
							</div>
							<div id="collapse1Three" class="collapse" aria-labelledby="collapse1HeadingThree" data-bs-parent="#accordion1">
								<div class="card-body">
									<p class="mb-0">Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
								</div>
							</div>
						</div>
						<div class="card card-default">
							<div class="card-header" id="collapse1HeadingFour">
								<h4 class="card-title m-0">
									<a class="accordion-toggle text-color-dark font-weight-semibold collapsed" data-bs-toggle="collapse" data-bs-target="#collapse1Four" aria-expanded="false" aria-controls="collapse1Four">
										4 - Wuspaisse hendreirit vehicula leo?
									</a>
								</h4>
							</div>
							<div id="collapse1Four" class="collapse" aria-labelledby="collapse1HeadingFour" data-bs-parent="#accordion1">
								<div class="card-body">
									<p class="mb-0">Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
								</div>
							</div>
						</div>
						<div class="card card-default">
							<div class="card-header" id="collapse1HeadingFive">
								<h4 class="card-title m-0">
									<a class="accordion-toggle text-color-dark font-weight-semibold collapsed" data-bs-toggle="collapse" data-bs-target="#collapse1Five" aria-expanded="false" aria-controls="collapse1Five">
										5 - Lintegers aliquet ullamcorper dollor, quis sollic tudin?
									</a>
								</h4>
							</div>
							<div id="collapse1Five" class="collapse" aria-labelledby="collapse1HeadingFive" data-bs-parent="#accordion1">
								<div class="card-body">
									<p class="mb-0">Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<section class="section section-height-3 bg-color-grey-scale-1 border-0 m-0">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-10 text-md-center text-lg-start mb-4 mb-lg-0">
						<h2 class="text-color-dark font-weight-bold mb-1">Zenos is everything you need to help you run your business!</h2>
						<p class="font-weight-bold positive-ls-3 text-4-5 mb-0">Make An Appointment Today With Our Online Form</p>
					</div>
					<div class="col-lg-2 text-md-center text-lg-end">
						<a href="#" class="btn btn-gradient font-weight-bold btn-px-5 btn-py-3">CONTACT US</a>
					</div>
				</div>
			</div>
		</section>

	</div>
</div>
