<div class="body">

		<div role="main" class="main">

			<section class="page-header page-header-modern bg-primary custom-page-header">

				<div class="custom-svg-style-1 svg-fill-color-primary position-absolute top-0 left-50pct transform3dx-n50 h-100 z-index-0">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 400" xml:space="preserve" preserveAspectRatio="none" width="100%" height="100%" data-plugin-float-element-svg="true">
						<circle id="svg_2" r="7.5" cy="539.5" cx="209.5" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
						<circle id="svg_3" r="12" cy="211" cx="268" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.4, 'transition': true, 'transitionDuration': 2000, 'isInsideSVG': true}"/>
						<circle id="svg_4" r="17" cy="144" cx="1864" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.6, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
						<circle id="svg_6" r="28.5" cy="326.74992" cx="327.75073" stroke-miterlimit="10" stroke-width="3" stroke="6CD499" fill="none"/>
						<circle opacity="0.2" stroke="#ffffff" id="svg_8" r="21.5" cy="340.25" cx="90.74976" fill="none" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
						<circle stroke="#ffffff" opacity="0.2" id="svg_9" r="14.625" cy="689.625" cx="128.87476" fill="none" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.5, 'transition': true, 'transitionDuration': 2000, 'isInsideSVG': true}"/>
					</svg>								
				</div>

				<div class="container position-relative z-index-1 mt-4 h-100">
					<div class="row h-100">
						<div class="col align-self-end">
							<div class="d-block">
								<span class="d-block custom-stroke-text-effect-1 custom-big-text-2 font-weight-bold opacity-2">Services</span>
							</div>
							<div class="d-block">
								<h1 class="text-color-light font-weight-bold positive-ls-3 custom-big-text-1 line-height-1 mb-0">Services</h1>
							</div>
							<ul class="breadcrumb breadcrumb-light d-block py-3 mb-5">
								<li><a href="#">Home</a></li>
								<li class="active">Services</li>
							</ul>
						</div>
					</div>
				</div>

			</section>

			<div class="container py-5 my-4">
				<div class="row">
					<div class="col">

						<div class="text-center pb-5">
							<h2 class="text-color-dark font-weight-bold mb-1">We create amazing solution lorem ipsum dolor sit amet, consectetuer elit. Aenean commodo ligula eget dolor. Aenean massa.</h2>
						</div>

						<p class="text-4-5 line-height-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec velit magna, consectetur at suscipit eu, dapibus vel odio. Mauris ac nulla at ligula interdum ullamcorper. Nunc mattis eros nec eros dictum, nec molestie metus auctor. Nulla placerat nunc velit, a dictum lectus finibus quis. Nunc leo mauris, cursus vel tempor eu, tempus sed turpis.</p>
						<p class="text-3-5 line-height-9 mb-5">Cras mattis nisl auctor tellus maximus, id consectetur nulla suscipit. Praesent consequat elit vitae ipsum porttitor, at facilisis enim hendrerit. Morbi tincidunt ornare scelerisque. Maecenas et iaculis libero, in volutpat arcu. Vestibulum ac sagittis felis. Aenean tempor tellus id felis finibus, quis aliquam sem pretium. </p>

						<div class="tabs tabs-bottom tabs-center tabs-simple custom-tabs-style-1">
							<ul class="nav nav-tabs">
								<li class="nav-item w-25">
									<a class="nav-link pb-2 px-5-5 active" href="#tabsNavigationSimpleIcons1" data-bs-toggle="tab">
										<span class="featured-boxes featured-boxes-style-6 p-0 m-0">
											<span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
												<span class="box-content p-0 m-0">
													<img width="70" height="70" src="/assets/img/demos/digital-agency/icons/arrow-symbols.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary px-5 py-4'}" />
													<h4 class="positive-ls-3 font-weight-bold text-3">STRATEGY</h4>
												</span>
											</span>
										</span>									
									</a>
								</li>
								<li class="nav-item w-25">
									<a class="nav-link pb-2 px-5-5" href="#tabsNavigationSimpleIcons2" data-bs-toggle="tab">
										<span class="featured-boxes featured-boxes-style-6 p-0 m-0">
											<span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
												<span class="box-content p-0 m-0">
													<img width="70" height="70" src="/assets/img/demos/digital-agency/icons/lamp.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary px-5 py-4'}" />
													<h4 class="positive-ls-3 font-weight-bold text-3">CREATIVE</h4>
												</span>
											</span>
										</span>									
									</a>
								</li>
								<li class="nav-item w-25">
									<a class="nav-link pb-2 px-5-5" href="#tabsNavigationSimpleIcons3" data-bs-toggle="tab">
										<span class="featured-boxes featured-boxes-style-6 p-0 m-0">
											<span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
												<span class="box-content p-0 m-0">
													<img width="70" height="70" src="/assets/img/demos/digital-agency/icons/mac.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary px-5 py-4'}" />
													<h4 class="positive-ls-3 font-weight-bold text-3">DEVELOPMENT</h4>
												</span>
											</span>
										</span>									
									</a>
								</li>
								<li class="nav-item w-25">
									<a class="nav-link pb-2 px-5-5" href="#tabsNavigationSimpleIcons4" data-bs-toggle="tab">
										<span class="featured-boxes featured-boxes-style-6 p-0 m-0">
											<span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
												<span class="box-content p-0 m-0">
													<img width="70" height="70" src="/assets/img/demos/digital-agency/icons/megaphone.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary px-5 py-4'}" />
													<h4 class="positive-ls-3 font-weight-bold text-3">MARKETING</h4>
												</span>
											</span>
										</span>									
									</a>
								</li>
							</ul>
							<div class="tab-content px-lg-5 mx-lg-5">
								<div class="tab-pane active" id="tabsNavigationSimpleIcons1">
									<div class="text-center">
										<p class="text-3-5 line-height-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet massa tellus, vitae lacinia arcu mollis ac. Nulla ex enim, pellente que vitae tristique vel, porttitor in quam. Vestibulum mattis quam gravida malesuada faucibus. Duis nec est ac metuspulvinar nunc commodo nisi orci, sit amet fermentum sapien tempus eu. </p>
										<a href="#" class="custom-read-more d-inline-flex aling-items-center text-color-dark font-weight-bold text-3-5 text-decoration-none">
											Read More
											<img width="27" height="27" class="ms-2" src="/assets/img/demos/digital-agency/icons/arrow-right.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-dark ms-2'}" />
										</a>
									</div>
								</div>
								<div class="tab-pane" id="tabsNavigationSimpleIcons2">
									<div class="text-center">
										<p class="text-3-5 line-height-9">Ipsum dolor sit amet, dipiscing elit. Donec imperdiet massa tellus, vitae lacinia arcu mollis ac. Nulla ex enim, pellente que vitae tristique vel, porttitor in quam. Vestibulum mattis quam gravida malesuada faucibus. Duis nec est ac metuspulvinar nunc commodo nisi orci, sit amet fermentum sapien tempus eu. </p>
										<a href="#" class="custom-read-more d-inline-flex aling-items-center text-color-dark font-weight-bold text-3-5 text-decoration-none">
											Read More
											<img width="27" height="27" class="ms-2" src="/assets/img/demos/digital-agency/icons/arrow-right.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-dark ms-2'}" />
										</a>
									</div>
								</div>
								<div class="tab-pane" id="tabsNavigationSimpleIcons3">
									<div class="text-center">
										<p class="text-3-5 line-height-9">Sit amet, consectetur adipiscing elit. Donec lus, vitae lacinia arcu mollis ac. Nulla ex enim, pellente que vitae tristique vel, porttitor in quam. Vestibulum mattis quam gravida malesuada faucibus. Duis nec est ac metuspulvinar nunc commodo nisi orci, sit amet fermentum sapien tempus eu. </p>
										<a href="#" class="custom-read-more d-inline-flex aling-items-center text-color-dark font-weight-bold text-3-5 text-decoration-none">
											Read More
											<img width="27" height="27" class="ms-2" src="/assets/img/demos/digital-agency/icons/arrow-right.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-dark ms-2'}" />
										</a>
									</div>
								</div>
								<div class="tab-pane" id="tabsNavigationSimpleIcons4">
									<div class="text-center">
										<p class="text-3-5 line-height-9">Dolor sit amet, consectetur adipiscing elit. Donec imperdiet massa tellus, vitae lacinia arcu mollis ac. Nulla ex enim, pellente que vitae tristique vel, porttitor in quam. Vestibulum mattis quam gravida malesuada faucibus. Duis nec est ac metuspulvinar nunc commodo nisi orci, sit amet fermentum sapien tempus eu. </p>
										<a href="#" class="custom-read-more d-inline-flex aling-items-center text-color-dark font-weight-bold text-3-5 text-decoration-none">
											Read More
											<img width="27" height="27" class="ms-2" src="/assets/img/demos/digital-agency/icons/arrow-right.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-dark ms-2'}" />
										</a>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<section class="section bg-color-grey border-0 position-relative py-0 m-0">
				<div class="container">
					<div class="row">
						<div class="col pt-5 pb-4">

							<div class="row process my-5">
								<div class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
									<div class="process-step-circle">
										<strong class="process-step-circle-content">01</strong>
									</div>
									<div class="process-step-content">
										<h4 class="mb-1 text-5 font-weight-bold">First Step</h4>
										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus nulla dui, in dapibus magna aliquam et.</p>
									</div>
								</div>
								<div class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
									<div class="process-step-circle">
										<strong class="process-step-circle-content">02</strong>
									</div>
									<div class="process-step-content">
										<h4 class="mb-1 text-5 font-weight-bold">Second Step</h4>
										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus nulla dui, in dapibus magna aliquam et.</p>
									</div>
								</div>
								<div class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
									<div class="process-step-circle">
										<strong class="process-step-circle-content">03</strong>
									</div>
									<div class="process-step-content">
										<h4 class="mb-1 text-5 font-weight-bold">Third Step</h4>
										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus nulla dui, in dapibus magna aliquam et.</p>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>

			<div class="container py-5 my-4">
				<div class="row align-items-center">
					<div class="col-md-6 text-center">
						<img src="/assets/img/demos/digital-agency/generic/generic-2.jpg" class="img-fluid rounded-0 p-relative top-10 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" alt="" />
					</div>
					<div class="mt-4 mt-md-0 col-md-6">

						<h2 class="font-weight-bold text-color-dark text-7 mb-4">Innovation</h2>
						<p class="text-4-5 line-height-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet massa tellus, vitae lacinia. </p>
						<p class="text-3-5 line-height-9 mb-4">Cras mattis nisl auctor tellus maximus, id consectetur nulla suscipit. Praesent consequat elit vitae ipsum porttitor, at facilisis enim hendrerit. Morbi tincidunt ornare scelerisque. Maecenas et iaculis libero, in volutpat arcu. Vestibulum ac sagittis felis. Aenean tempor tellus id felis finibus, quis aliquam sem pretium.</p>
						<p class="text-3-5 line-height-9 mb-4">Id consectetur nulla suscipit. Praesent consequat elit vitae ipsum porttitor, at facilisis enim hendrerit. Morbi tincidunt ornare scelerisque.</p>
						<a href="#" class="custom-read-more d-inline-flex aling-items-center text-color-dark font-weight-bold text-decoration-none">
						Read More
							<img width="27" height="27" class="ms-2" src="/assets/img/demos/digital-agency/icons/arrow-right.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-dark ms-2'}" />
						</a>
					</div>
				</div>
			</div>

			<section class="section section-height-3 bg-color-grey-scale-1 border-0 m-0">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-10 text-md-center text-lg-start mb-4 mb-lg-0">
							<h2 class="text-color-dark font-weight-bold mb-1">Porto is everything you need to create an awesome website!</h2>
							<p class="font-weight-bold positive-ls-3 text-4-5 mb-0">Make An Appointment Today With Our Online Form</p>
						</div>
						<div class="col-lg-2 text-md-center text-lg-end">
							<a href="#" class="btn btn-gradient font-weight-bold btn-px-5 btn-py-3">CONTACT US</a>
						</div>
					</div>
				</div>
			</section>

		</div>
	</div>