<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path('home-slika.png') %>');">
Home
</div>
<div class='container inline_flex'>
  <div class="text-center child">
    <p>
      Ubrzanim tehnološkim razvojem, stalnim inovacijama u skoro pa svakom poslovnom sektoru i promjenjivoj dinamici u okruženju, kompetencije ljudskih resursa ostaju kao najsigurna konkurentska prednost u koju uvijek vrijedi ulagati.
      Imperativ svakog preduzeća koje želi biti aktivan konkurentski igrač, jeste pronalazak, očuvanje i razvoj, tržištu potrebnih vještina i znanja njihovih ljudskih resursa.
      S druge strane, kada sklonimo svoj fokus sa preduzeća i počnemo posmatrati pojedince, jedino trajno i sigurno što mogu imati i što im nikad ne može biti oduzeto, jeste njihov lični paket znanja i vještina, koji nose sa sobom, ma gdje radili.
    </p>
  </div>
  <div class='child'>
    OVDJE BISMO MOGLI DODATI KAO NEKI CRTEŽ DRVETA NA KOJEM BI NAPISALI NEKE KLJUČNE RIJEČI BEZ POSEBNOG OBJAŠNJENJA – MOŽDA!

    KOMPETENCIJE OUTSOURCING VJEŠTINE ZNANJE DRUŠTVENA ODGOVORNOST INOVACIJE ODRŽIVA PROIZVODNJA ZDRAVA ISHRANA INKLUZIJA RAZNOLIKOST PODUZETNIŠTVO
  </div>
</div>