<div class="body">

	<div role="main" class="main">

		<div class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual dots-inside dots-horizontal-center custom-dots-style-1 dots-light show-dots-hover show-dots-xs show-dots-sm show-dots-md nav-style-1 nav-inside nav-inside-plus nav-light nav-lg nav-font-size-lg show-nav-hover bg-color-quaternary custom-slider-container mb-0" data-plugin-options="{'autoplay': false, 'autoplayTimeout': 7000}" data-dynamic-height="['780px','780px','780px','780px','510px']" style="height: 780px;">
			<div class="owl-stage-outer">
				<div class="owl-stage">

					<!-- Carousel Slide 1 -->
					<div class="owl-item position-relative overflow-hidden">
					  <%= image_tag('Picture1.png', class: 'img-fluid custom-bg-slider-right landing-picture-position', alt: '') %>
						<div class="custom-svg-style-1 svg-fill-color-primary position-absolute top-0 left-50pct transform3dx-n50 h-100 z-index-0">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 799" xml:space="preserve" preserveAspectRatio="none" width="100%" height="100%" data-plugin-float-element-svg="true">
								<path id="svg_1" d="m803,799c-0.65,-17.51 -0.69,-41.58 2,-70c7.66,-80.82 31.97,-139.52 47,-175c30.86,-72.87 67.88,-124.83 89,-152c17.86,-22.98 84.33,-105.42 201,-174c34.75,-20.42 121.02,-67.28 243,-90c48.07,-8.95 141.2,-21.52 256,-4c123.54,18.85 208.91,62.88 228,73c21.42,11.35 38.74,22.03 51,30c0,-79 0,-158 0,-237c-640,0 -1280,0 -1920,0c0,266.33 0,532.67 0,799c267.67,0 535.33,0 803,0z" fill="#48C97F"/>
								<circle id="svg_2" r="7.5" cy="539.5" cx="209.5" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
								<circle id="svg_3" r="12" cy="211" cx="268" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.4, 'transition': true, 'transitionDuration': 2000, 'isInsideSVG': true}"/>
								<circle id="svg_4" r="17" cy="144" cx="1864" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.6, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
								<path id="svg_5" d="m982,356c24.33,-22.33 48.67,-44.67 73,-67c-1.91,-2.73 -5.1,-6.6 -10,-10c-7.11,-4.93 -13.93,-6.15 -19,-7c-5.42,-0.91 -14.32,-2.3 -25,1c-4.46,1.38 -16.54,5.83 -25,18c-5.85,8.41 -7.29,16.65 -8,21c-0.51,3.13 -1.54,9.79 0,18c2.48,13.19 10.04,22.01 14,26z" fill="#FFF" opacity="0.2" style="fill: #FFF !important;"/>
								<circle id="svg_6" r="28.5" cy="326.74992" cx="327.75073" stroke-miterlimit="10" stroke-width="3" stroke="6CD499" fill="none"/>
								<circle opacity="0.2" stroke="#ffffff" id="svg_8" r="21.5" cy="340.25" cx="90.74976" fill="none" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
								<circle stroke="#ffffff" opacity="0.2" id="svg_9" r="14.625" cy="689.625" cx="128.87476" fill="none" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.5, 'transition': true, 'transitionDuration': 2000, 'isInsideSVG': true}"/>
							</svg>								
						</div>
						<div class="container position-relative h-100 z-index-1 mt-4">
							<div class="row align-items-center h-100">
								<div class="col mb-5-5 mb-sm-0">
									<div class="appear-animation" data-appear-animation="fadeInDownShorterPlus" data-appear-animation-delay="400">
										<span class="d-block custom-stroke-text-effect-1 custom-big-text-2 font-weight-bold opacity-2">ZENOS</span>
									</div>
									<div class="appear-animation" data-appear-animation="fadeInDownShorterPlus" data-appear-animation-delay="600">
										<span class="d-block custom-stroke-text-effect-1 custom-big-text-2 font-weight-bold opacity-5">ZENOS</span>
									</div>
									<div class="appear-animation" data-appear-animation="fadeInDownShorterPlus" data-appear-animation-delay="800">
										<span class="d-block custom-stroke-text-effect-1 custom-big-text-2 font-weight-bold">ZENOS</span>
									</div>
									<div class="appear-animation" data-appear-animation="fadeInDownShorterPlus" data-appear-animation-delay="1000">
										<h1 class="text-color-light font-weight-bold positive-ls-3 custom-big-text-1 line-height-1 mb-0">ZENOS</h1>
									</div>
									<p class="text-color-dark font-weight-bold text-7 text-sm-9 ms-2 mb-0 appear-animation" data-appear-animation="fadeInDownShorterPlus" data-appear-animation-delay="1200">Cheaper than most companies, more reliable than freelancers! </p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="container py-5 my-4">
			<div class="row">
				<div class="col">
					<div class="tabs tabs-bottom tabs-center tabs-simple custom-tabs-style-1">
						<ul class="nav nav-tabs">
							<li class="nav-item w-25">
								<a class="nav-link pb-2 px-5-5 active" href="#tabsNavigationSimpleIcons1" data-bs-toggle="tab">
									<span class="featured-boxes featured-boxes-style-6 p-0 m-0">
										<span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
											<span class="box-content p-0 m-0">
												<img width="70" height="70" src="/assets/img/demos/digital-agency/icons/arrow-symbols.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary px-5 py-4'}" />
												<h4 class="positive-ls-3 font-weight-bold text-3">STRATEGY</h4>
											</span>
										</span>
									</span>									
								</a>
							</li>
							<li class="nav-item w-25">
								<a class="nav-link pb-2 px-5-5" href="#tabsNavigationSimpleIcons2" data-bs-toggle="tab">
									<span class="featured-boxes featured-boxes-style-6 p-0 m-0">
										<span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
											<span class="box-content p-0 m-0">
												<img width="70" height="70" src="/assets/img/demos/digital-agency/icons/lamp.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary px-5 py-4'}" />
												<h4 class="positive-ls-3 font-weight-bold text-3">CREATIVE</h4>
											</span>
										</span>
									</span>									
								</a>
							</li>
							<li class="nav-item w-25">
								<a class="nav-link pb-2 px-5-5" href="#tabsNavigationSimpleIcons3" data-bs-toggle="tab">
									<span class="featured-boxes featured-boxes-style-6 p-0 m-0">
										<span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
											<span class="box-content p-0 m-0">
												<img width="70" height="70" src="/assets/img/demos/digital-agency/icons/mac.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary px-5 py-4'}" />
												<h4 class="positive-ls-3 font-weight-bold text-3">DEVELOPMENT</h4>
											</span>
										</span>
									</span>									
								</a>
							</li>
							<li class="nav-item w-25">
								<a class="nav-link pb-2 px-5-5" href="#tabsNavigationSimpleIcons4" data-bs-toggle="tab">
									<span class="featured-boxes featured-boxes-style-6 p-0 m-0">
										<span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
											<span class="box-content p-0 m-0">
												<img width="70" height="70" src="/assets/img/demos/digital-agency/icons/megaphone.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary px-5 py-4'}" />
												<h4 class="positive-ls-3 font-weight-bold text-3">MARKETING</h4>
											</span>
										</span>
									</span>									
								</a>
							</li>
						</ul>
						<div class="tab-content px-lg-5 mx-lg-5">
							<div class="tab-pane active" id="tabsNavigationSimpleIcons1">
								<div class="text-center">
									<p class="text-3-5 line-height-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet massa tellus, vitae lacinia arcu mollis ac. Nulla ex enim, pellente que vitae tristique vel, porttitor in quam. Vestibulum mattis quam gravida malesuada faucibus. Duis nec est ac metuspulvinar nunc commodo nisi orci, sit amet fermentum sapien tempus eu. </p>
								</div>
							</div>
							<div class="tab-pane" id="tabsNavigationSimpleIcons2">
								<div class="text-center">
									<p class="text-3-5 line-height-9">Ipsum dolor sit amet, dipiscing elit. Donec imperdiet massa tellus, vitae lacinia arcu mollis ac. Nulla ex enim, pellente que vitae tristique vel, porttitor in quam. Vestibulum mattis quam gravida malesuada faucibus. Duis nec est ac metuspulvinar nunc commodo nisi orci, sit amet fermentum sapien tempus eu. </p>
								</div>
							</div>
							<div class="tab-pane" id="tabsNavigationSimpleIcons3">
								<div class="text-center">
									<p class="text-3-5 line-height-9">Sit amet, consectetur adipiscing elit. Donec lus, vitae lacinia arcu mollis ac. Nulla ex enim, pellente que vitae tristique vel, porttitor in quam. Vestibulum mattis quam gravida malesuada faucibus. Duis nec est ac metuspulvinar nunc commodo nisi orci, sit amet fermentum sapien tempus eu. </p>
								</div>
							</div>
							<div class="tab-pane" id="tabsNavigationSimpleIcons4">
								<div class="text-center">
									<p class="text-3-5 line-height-9">Dolor sit amet, consectetur adipiscing elit. Donec imperdiet massa tellus, vitae lacinia arcu mollis ac. Nulla ex enim, pellente que vitae tristique vel, porttitor in quam. Vestibulum mattis quam gravida malesuada faucibus. Duis nec est ac metuspulvinar nunc commodo nisi orci, sit amet fermentum sapien tempus eu. </p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<section class="section section-height-3 bg-dark border-0 m-0 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
			<Div class="container">
				<div class="row">
					<div class="col text-center">
						<h2 class="text-color-light font-weight-bold text-9 mb-4 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="600">Who we are</h2>
					</div>
				</div>
				<div class="row justify-content-center appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="800">
					<div class="col-lg-10">
						<div class="owl-carousel owl-theme nav-bottom rounded-nav dots-light custom-dots-style-1 mb-0" data-plugin-options="{'items': 1, 'loop': false}">
							<div>
								<div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-remove-right-quote testimonial-light mb-4">
										<p class="text-color-light opacity-7 text-5 line-height-5 mb-0">With the accelerated technological development, constant innovations in almost every business sector and changing dynamics in the environment, human resources competences continue to be the most reliable competitive advantage that is always worth investing in. The imperative of every company that wants to be an active competitive player in the market is to find, preserve and develop the necessary skills and knowledge of their human resources. On the other hand, when we shift our focus away from companies and start looking at individuals, the only permanent and certain thing they can have and that can never be taken away from them is their personal package of knowledge and skills, which they carry with them wherever they work.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</Div>
		</section>

		<div class="container py-5 my-4">
			<div class="row">
				<div class="col">

					<div class="text-center">
						<div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark mb-0">
							<blockquote>
								<p class="mb-0 custom-font-1 fst-italic text-5 line-height-7">Pellentesque ultricies nibh gravida, accumsan libero luctus, molestie nunc. In nibh ipsum, blandit id faucibus accumsan libero luctus, molestie nunc. In nibh ipsum, blandit id faucibus.</p>
							</blockquote>
							<div class="testimonial-author">
								<p><strong class="font-weight-bold text-color-secondary">John Doe - CEO & Founder</strong></p>
							</div>
						</div>
						<%= image_tag 'demos/digital-agency/signature.png', class: 'img-fluid my-4', alt: '' %>
					</div>

				</div>
			</div>
		</div>

		<section class="section section-height-3 bg-color-grey-scale-1 border-0 m-0">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-10 text-md-center text-lg-start mb-4 mb-lg-0">
						<h2 class="text-color-dark font-weight-bold mb-1">Zenos is everything you need to help you run your business!</h2>
						<p class="font-weight-bold positive-ls-3 text-4-5 mb-0">Make An Appointment Today With Our Online Form</p>
					</div>
					<div class="col-lg-2 text-md-center text-lg-end">
						<%= link_to "CONTACT US", pages_contact_path, class: "btn btn-gradient font-weight-bold btn-px-5 btn-py-3" %>
					</div>
				</div>
			</div>
		</section>

	</div>

</div>
