<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path('projects.png') %>');">
Projects
</div>
<div class='container inline_flex'>
  <div class="text-center child">
    <p>
      Zenos tim koristi svoju web stranicu, kao i društvene mreže, za širenje znanja o temama interesovanja. Na našim kanalima možete pronaći različite priručnike, edukacije, seminare, ali i diskusije i osvrte na aktuelne teme iz poslovnog svijeta.
    </p>
  </div>
</div>