.shadow-with-padding {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.card-blog {
  height: auto; 
}

.object-fit-cover {
  object-fit: centar;
}

h1, h2 {
  color: var(--primary);
}

#mainNav > li {
  margin-left: 10px !important;
}

.image-previews {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.image-preview {
  border: 2px solid transparent;
  cursor: pointer;
  margin: 0 5px;
}

.image-preview img {
  max-width: 100px;
}

.image-preview.selected {
  border-color: var(--primary); /* Boja označene slike */
}

.font-span span {
  font-family: "Nunito", "Helvetica", sans-serif;
}

.banner-container {
  position: relative;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered-text p {
  color: rgb(255, 255, 255); /* Set white color */
  font-size: 42px; /* Set the font size */
  font-weight: bold;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Add a black shadow */
}

.banner-container img {
  width: 100%;
  height: 470px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.plus-sign {
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold;
  margin: 10px 0; /* Adjust the margin as needed */
}

.no-text-transform > li > a {
  text-transform: none !important;
}

/* Media query for smaller screens */
@media (max-width: 992px) {
  .centered-text p {
    font-size: 36px; /* Adjust font size for smaller screens */
    line-height: 1.4; /* Adjust line height for better readability */
  }
}

@media (max-width: 1280px) {
  .padding-mob-nav-li {
    padding: 0 0.3rem !important;
  }
}

@media (max-width: 1200px) {
  .logo {
    width: 232px;
    height: 50px ;
  }

  .padding-mob-nav-li {
    padding: 0 0.2rem !important;
  }

  .margin-0 {
    margin: 0 !important;
  }
}

.logo {
	width: 309px;
	height: 67px;
}

.highlight-text {
  font-size: 120%; /* Povećava tekst za 20% u odnosu na ostali tekst */
  color: var(--primary); /* Boja varijable primary */
}

.text-container, .image-container {
  flex: 1; /* Oba dela zauzimaju jednake delove prostora */
}

.text-container {
  padding: 0 15px; /* Razmak unutar div-a */
}

.image-container img {
  max-width: 100%; /* Obezbeđuje da slika ostane unutar svog div-a */
  height: auto; /* Očuvanje proporcija slike */
}

@media (max-width: 768px) {
  .ee_landing {
    transform: scale(1.10); /* Uvećaj sliku za 15% */
}

  .row {
    flex-direction: row; /* Prikaz horizontalno */
  }

  .text-container h2 {
    font-size: 16px; /* Smanji veličinu fonta za mobilne uređaje */
  }


  .testimonial-main-container {
    min-height: 1280px;
  }

}

/* Osnovni stilovi za testimonial */
.testimonial {
  margin-bottom: 30px; /* Povećanje razmaka između testimoniala */
}

.min-height-580 {
  min-height: 580px !important; /* Minimalna visina za testimonial */
}

.min-height-470 {
  min-height: 470px !important; /* Minimalna visina za testimonial */
}
.min-height-440 {
  min-height: 440px !important; /* Minimalna visina za testimonial */
}

/* Postavljanje flexbox za horizontalno poravnavanje */
.language-switcher {
  display: flex;;
  align-items: center;  /* Vertikalno centriranje linkova */
  position: absolute;
  right: 20px;  /* Podesite prema potrebi */
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

/* Stil za svaki jezički link */
.language-switcher .nav-link {
  font-size: 16px;
  color: #fff;  /* Prilagodite boje prema dizajnu */
  margin-left: 10px;
  margin-right: 10px;  /* Dajte malo prostora između linkova */
}

/* Separator između linkova */
.language-switcher .language-separator {
  color: #fff;  /* Boja separatora */
  margin: 0 10px;  /* Prostor sa obe strane separatora */
}

.language-switcher-mob {
  display: flex;
  align-items: center;  /* Vertikalno centriranje linkova */
  position: absolute;
  right: 60px;  /* Podesite prema potrebi */
  top: 40%;
  transform: translateY(-50%);
  z-index: 1000;
}

/* Stil za svaki jezički link */
.language-switcher-mob .nav-link {
  font-size: 16px;
  color: #fff;  /* Prilagodite boje prema dizajnu */
  margin-left: 10px;
  margin-right: 10px;  /* Dajte malo prostora između linkova */
}

/* Separator između linkova */
.language-switcher-mob .language-separator {
  color: #fff;  /* Boja separatora */
  margin: 0 10px;  /* Prostor sa obe strane separatora */
}

/* CSS za prikaz strelice na select elementu */
select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"%3E%3Cpath fill="none" stroke="%23000" stroke-width="1.5" d="M2 4l4 4 4-4"%3E%3C/path%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 12px 12px;
  padding-right: 2rem;
}

