.shadow-with-padding {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.card-blog {
  height: auto; 
}

.object-fit-cover {
  object-fit: centar;
}

h1, h2 {
  color: var(--primary);
}

#mainNav > li {
  margin-left: 10px !important;
}

.image-previews {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.image-preview {
  border: 2px solid transparent;
  cursor: pointer;
  margin: 0 5px;
}

.image-preview img {
  max-width: 100px;
}

.image-preview.selected {
  border-color: var(--primary); /* Boja označene slike */
}

.font-span span {
  font-family: "Nunito", "Helvetica", sans-serif;
}

.banner-container {
  position: relative;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered-text p {
  color: rgb(255, 255, 255); /* Set white color */
  font-size: 42px; /* Set the font size */
  font-weight: bold;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Add a black shadow */
}

.banner-container img {
  width: 100%;
  height: 470px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.plus-sign {
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold;
  margin: 10px 0; /* Adjust the margin as needed */
}

.no-text-transform > li > a {
  text-transform: none !important;
}

/* Media query for smaller screens */
@media (max-width: 992px) {
  .centered-text p {
    font-size: 36px; /* Adjust font size for smaller screens */
    line-height: 1.4; /* Adjust line height for better readability */
  }
}

.logo {
	width: 309px;
	height: 67px;
}

.highlight-text {
  font-size: 120%; /* Povećava tekst za 20% u odnosu na ostali tekst */
  color: var(--primary); /* Boja varijable primary */
}

.text-container, .image-container {
  flex: 1; /* Oba dela zauzimaju jednake delove prostora */
}

.text-container {
  padding: 0 15px; /* Razmak unutar div-a */
}

.image-container img {
  max-width: 100%; /* Obezbeđuje da slika ostane unutar svog div-a */
  height: auto; /* Očuvanje proporcija slike */
}

@media (max-width: 768px) {
  .ee_landing {
    transform: scale(1.10); /* Uvećaj sliku za 15% */
}

  .row {
    flex-direction: row; /* Prikaz horizontalno */
  }

  .text-container h2 {
    font-size: 16px; /* Smanji veličinu fonta za mobilne uređaje */
  }

  .testimonial-author {
    text-align: center; /* Centriranje teksta za mobilne uređaje */
  }

  .row.align-items-center {
    flex-direction: column; /* Promena pravca za mobilne uređaje */
    text-align: center; /* Centriranje sadržaja */
  }

  .col-md-6 {
    margin-bottom: 20px; /* Dodavanje razmaka između kolona */
  }

}

/* Osnovni stilovi za testimonial */
.testimonial {
  margin-bottom: 30px; /* Povećanje razmaka između testimoniala */
}

.testimonial-slider .testimonial-item {
  padding: 20px;
  border-radius: 10px;
}

/* Dot Styles */
.owl-dots .owl-dot {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
}

.owl-dots .owl-dot.active {
  background-color: #3498db;
}


/* Remove white background from quote */
.testimonial-style-2 blockquote {
  background: transparent !important; /* Removed background color */
  border: none; /* No border */
}

